name: CI

on:
  push:
    branches:
      - main


jobs:
  ci:
    name: CI
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: make build
      - name: Test
        run: make test
